@model ITgeek.uzytkownik

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>uzytkownik</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id_uzytkownik)
    
            <div class="form-group">
                @Html.LabelFor(model => model.imie, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.imie)
                    @Html.ValidationMessageFor(model => model.imie)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.nazwisko, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nazwisko)
                    @Html.ValidationMessageFor(model => model.nazwisko)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.data_urodzenia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.data_urodzenia)
                    @Html.ValidationMessageFor(model => model.data_urodzenia)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.miejscowosc, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.miejscowosc)
                    @Html.ValidationMessageFor(model => model.miejscowosc)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.wyswietlana_nazwa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.wyswietlana_nazwa)
                    @Html.ValidationMessageFor(model => model.wyswietlana_nazwa)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.e_mail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.e_mail)
                    @Html.ValidationMessageFor(model => model.e_mail)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.haslo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.haslo)
                    @Html.ValidationMessageFor(model => model.haslo)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.uprawnienia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.uprawnienia)
                    @Html.ValidationMessageFor(model => model.uprawnienia)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
