@model ITgeek.Models.RejestracjaViewModel
@{
    ViewBag.Title = "Rejestracja";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Rejestracja", "konto", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Utwórz nowe konto</h4>
    <hr />
     @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.wyswietlana_nazwa, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.wyswietlana_nazwa, new { @class = "form-control" })
        </div>
    </div>
    <br />
   
    <div class="form-group">
        @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.haslo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.haslo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.powtorz_haslo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.powtorz_haslo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Rejestruj!" />
        </div>
    </div>
   
   
    if (ViewBag.Message != null)
    {
        if (@ViewBag.kolor != null)
        {
<div id="takioo" style="align-content:center;color:red;">
            @ViewBag.Message
        </div>
        }
        else
        {
<div id="takioo" style="align-content:center;color:green;">
            @ViewBag.Message
        </div>
        }
        
    }
        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}