@model IEnumerable<ITgeek.projekt>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title = "Lista kont"</h2>
        
    </div>


    <div class="col-md-4">
        <h3>Lista kont:</h3>

        <table class="table">
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nazwa_projektu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_uzytkownik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poziom_ukonczenia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.wstep)
                    </td>
                </tr>
            }

        </table>


    </div>







</div>