@using Microsoft.AspNet.Identity
@if (@Session["ID"]!=null)
{
    using (Html.BeginForm("Wyloguj", "konto", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            
            @Html.ActionLink("Witaj " + @Session["wyswietlana_nazwa"].ToString() + "!", "Profil", "konto", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "wyloguj", "Home", routeValues: null, htmlAttributes: new { id = "wylogujLink" })
        </li>
            
        
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", "Rejestracja", "konto", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Loguj", "konto", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
